@import "../utilities/variables";
@media only screen and (min-width:600px){
    .imgFondo{
        width: 40%;
    }   
        nav ul li{
            background-color: rgba(255, 145, 0, 0.616);
            padding: 0.2rem;
            margin: 0.2rem;
            border-radius: 2rem;
           
        }
        }
        
    @media only screen and (min-width:1024px){
    .imgFondo{
        width: 50%;
    }
    nav ul li{
        background-color: $color-li;
        padding: 0.2rem;
        margin: 0.2rem;
        border-radius: 2rem;
       
    }
}